/* .canvas {
  height: calc(100vh - 60px);
} */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  height: calc(100vh - 60px);
  cursor: grab;
}

.main:active {
  cursor: grabbing;
}
